/*******************************************************************************
* Anchor-Pane, Border-Pane, Pane...                                            *
*******************************************************************************/
.vbox{
    -fx-background-color: transparent;
}

/*******************************************************************************
* Label, Font, Size                                                            *
*******************************************************************************/

.font-style{
    -fx-font-family: "Segoe UI Light";
}

.font-size-title{
    -fx-font-size: 24;
}

.font-size-text{
    -fx-font-size: 14;
}