/*******************************************************************************
* Top-bar, MFX-Button, MFX-Font-Icon                                           *
*******************************************************************************/

#custom-theme-switch{
    -fx-background-color:transparent;
    -fx-background-radius : 0 0 0 0;
}

#custom-minimize{
    -fx-background-color: transparent;
    -fx-background-radius : 0 0 0 0;
}

#custom-maximize{
    -fx-background-color: transparent;
    -fx-background-radius : 0 0 0 0;
}

#custom-close{
    -fx-background-color: transparent;
    -fx-background-radius : 0 6 0 0;
}

#custom-theme-switch .mfx-font-icon{
    -mfx-size: 16;
}

#custom-close .mfx-font-icon{
    -mfx-description: "fas-xmark";
    -mfx-size: 16;
}

#custom-minimize .mfx-font-icon{
    -mfx-description: "fas-window-minimize";
    -mfx-size: 14;
}

#custom-maximize .mfx-font-icon{
    -mfx-size: 14;
}

#custom-close: hover,
#custom-close: focused,
#custom-close: hover .mfx-font-icon,
#custom-close: focused .mfx-font-icon{
    -fx-background-color:#E81123;
    -mfx-color: #fff;
}

#custom-close: pressed{
    -fx-background-color: #F1707A;
}